*

!*/

!/RTE/

!.gitignore

#python stuff here
!/Users/illyabudko/Documents/Robot_Arm_Controller/Robot_Arm_Controller/py_stuff/**

!angle_calculator.py

#c stuff here
!main.h
!main.c

!system.h
!system.c

!\Embedded\Serious_WorkSpace\Robot_Arm_Controller_Project\Stepper_Driver\

#Stepper Driver files
!stepper_driver.h
!stepper_driver.c

!low_timer.h
!low_timer.c
